.App {
  margin: 0;
}

.HomePage {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1b1b1b;
  color: #e0e0e0;
}

.HomePage main {
  text-align: center;
}

.HomePage h1 {
  font-size: 10vw;
  margin: 0;
}

@media screen and (min-width: 1000px) {
  .HomePage h1 {
    font-size: 108px;
  }
}

.HomePage p {
  font-size: 24px;
  margin: 0;
}

.HomePage footer {
  padding: 16px;
  font-size: 32px;
}

.HomePage footer a {
  color: inherit;
  padding: 6px;
}

.NotFound {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1b1b1b;
  color: #e0e0e0;
}