
.title {
  padding: 2rem;
  text-align: center;
}

.title h1 {
  font-size: 38px;
}

.main {
}

.post {
  border-top: 1px solid #eaeaea;
  padding: 2rem;
  padding-right: 6rem;
  padding-left: 6rem;
}